* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.task-input,
.todo-item {
  border: 0;
  background-color: white;
  width: 100%;
  padding: 3px 5px;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  background-color: #f0f0f0;
  padding: 30px;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
}
